*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;

}

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.box{
    height: 200px;
    width: 400px;
    /* background-color: wheat; */
    animation: ChangeBackgroundColor 2s infinite forwards alternate;
    /* box-shadow:inset 0 0 40px red;
     */
     /* background: conic-gradient(rgb(255,255,255), rgb(0,0,0),red,yellow); */
}
/* .box:hover{
    border-radius: 10px;
    transform: scale(1.1);
    transition: 1s;
} */
@keyframes ChangeBackgroundColor{
    from{
        background-color: white;
        border-radius: 0px;
        scale: 1;
        /* box-shadow: 0 0 0 ; */

    }
    to{
        background-color: red;
        border-radius: 50px;
        scale: 0.5;
        box-shadow: 0 0 5cap red;

    }
}