* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

html,
body {
  background-color: rgba(0, 0, 0, 0.343);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-image: url(https://render.pixels.com/images/rendered/medium/print/8/4.5/break/images-medium-5/ultimatum-douglas-pittman.jpg);
  background-size: cover;
}
.box {
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
  background-color: var(--red);
  /* background: linear-gradient(to right ,red, yellow,pink); */
  /* background: linear-gradient(in hsl to right rgb(85, 46, 183),red); */
  background: radial-gradient(
    200px at var(--x) var(--y),
    rgba(204, 212, 204, 0),
    rgb(0, 0, 0)
  );
}

:root {
  /* --red:red; */
  --x: 400px;
  --y: 400px;
}
